
body{
    margin: 0px;
}

.content{
    height: 70px;
    width: 99.9vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:white;
    border-bottom: 2px rgb(7, 6, 6);
    border-bottom: 2px solid black;
    position: fixed;
    z-index: 100;

}


.right{
    height: 70px;
    width: 48vw;
    font-size: large;
    font-weight: 500;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    

}
.nav{
    margin: 10px;
}
.nav a{
    text-decoration:none;
}
    


.nav:hover{
    background-color: aqua;
}
.left{
    height: 70px;
    width: 48vw;
    font-size: xx-large;
    font-weight: 800;
    font-style: initial;
    display: flex;
    align-items: center;
}
.pagemaker{
    background-color: rgb(221, 221, 129);
}

.maincontain{
    height: 90vh;
    width: 99vw;
    display: flex;
    align-items: center;
    border-bottom: 2px solid;
}




.heading{
    height: 200px;
    width: px;
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 2.5rem;
}
.paragraph1{
    font-size: x-large;
    font-style: italic;
    font-weight: 600;



}
.leftside{
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

.rightside{
    width: 45vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container, .image-container img{
    width: 40vw;
    height: 65vh;
}


.lkjhgf{
    height:500px;
    width: 500px;

}
.btn{
    margin-top: 30px;
}

.btn button{
    height: 40px;
    width: 140px;
    font-size: large;
    font-weight: 400;

}
.btn button:hover{
    background-color: aqua;

}

.grey-color{
    background-color: grey;
}
.btn button a{
    text-decoration: none;

}

.spagemain{
    height: 99vh;
    width: 99vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 40px;
}
.sheading{
    height: 200px;
    width: 700px;
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    
    
    


}
.spargraph{
    height: 100px;
    width: 290px;
    font-size:1.5rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    
}
.spara{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.h123{
    display: flex;
    justify-content: center;
    align-items: center
}

.grid-container {
    width: 99vw;
    display: grid;
    grid-template-columns: auto auto;
    justify-content:center;
    text-align:center;
    margin-top: 60px;
    
  }
  .grid-item{
    height:150px;
    width: 530px;
    font-size: 1.5rem;
    border: 2px solid;
    border-radius: 10px;
    margin: 7px;
    display: flex;
    align-items: center;
  }
  .grid-item img{
    padding: 10px;
    height: 50px;
    width: 50px;
  }

.endpage{
    width: 99vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    text-align: center;
    font-family: sans-serif;
}
.endpage-para{
    height: 200px;
    width: 470px;
}
.endpage button{
    height: 50px;
    width: 200px;
    font-size: large;
    font-weight: 700;
    margin-bottom: 30px;
}

.endpage button:hover{
    background-color: aqua;
}

.footer{
    height: 25;
    width: 99vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: aliceblue;
}
.footer-conten{ 
   
}

.footer-nav{
    display: inline-flex;
    margin: 10px;

    
}
.add-main img{
    height: 30px;
    width: 50px;
}

.image-ss img{ 

    height: 170px;
    width: 500px;
    
}
.add-contatiner{
    z-index: 100;
    padding-left: 75vw;
    padding-top: 70vh;
    position: fixed;
}

.zindex{
    z-index: -1 !important;
}



